<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <script src="/static/js/script.js"></script>
    <div class="header">
        <h1>My To-Do List</h1>
        <!-- Container for Signup/Login buttons -->
       
        <div class="input-container">
            <input type="text" id="myInput" placeholder="Title...">
            <span onclick="newElement()" class="addBtn">Add</span>
        </div>
    </div>

    <ul id="myUL">
    </ul>
</body>
</html>
